
spring:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  datasource:
    url: jdbc:mysql://${AWS_RDS_Endpoint}/pre15DB?useSSL=false&characterEncoding=UTF-8&serverTimezone=UTC
    username: admin
    password: ${RDS_Mysql_password}
    driver-class-name: com.mysql.cj.jdbc.Driver
  config:
    domain: ${AWS_S3_Endpoint}
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: ${G_CLIENT_ID}
            clientSecret: ${G_CLIENT_SECRET}
            scope:
              - email
              - profile
logging:
  level:
    org:
      springframework:
        orm:
          jpa: DEBUG
server:
  servlet:
    encoding:
      force-response: true
mail:
  address:
    admin: tbvjdngus@gmail.com
jwt:
  key:
    secret: ${JWT_SECRET_KEY}
  access-token-expiration-minutes: 30 #테스트를 위해 설정 추후 30으로 수정
  refresh-token-expiration-minutes: 450 #추후 450으로 수정
