#spring:
#  h2:
#    console:
#      enabled: true
#      path: /h2
#  datasource:
#    url: jdbc:h2:mem:test
#  jpa:
#    hibernate:
#      ddl-auto: create
#    show-sql: true
#    properties:
#      hibernate:
#        format_sql: true
#  sql:
#    init:
#      data-locations: classpath*:db/h2/data.spl
#  security:
#    oauth2:
#      client:
#        registration:
#          google:
#            clientId: ${G_CLIENT_ID}
#            clientSecret: ${G_CLIENT_SECRET}
#            scope:
#              - email
#              - profile
#logging:
#  level:
#    org:
#      springframework:
#        orm:
#          jpa: DEBUG
#server:
#  servlet:
#    encoding:
#      force-response: true
#mail:
#  address:
#    admin: tbvjdngus@gmail.com
#jwt:
#  key:
#    secret: ${JWT_SECRET_KEY}
#  access-token-expiration-minutes: 30
#  refresh-token-expiration-minutes: 420
#cloud:
#  aws:
#    region:
#      static: ap-northeast-2
#    stack:
#      auto: false
#    credentials:
#      accessKey: ${S3_ACCESS_KEY}
#      secretKey: ${S3_SECRET_KEY}
#    s3:
#      bucket: marbleus-s3
#api:
#  key: ${API_SERVICE_KEY}
#
#
#
#
#
#
#
#
